@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

@font-face {
    font-family: Lobster;
    src: url('Lobster.otf');
}

html {
    background-color: #f0efec;
    font-family: Lato, 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    font-family: Lobster, serif;
}

.time {
    display: inline-block;
}

.before-time, .after-time {
    font-size: 250%;
    display: block;
}

.utc {
    display: block;
}
